:root {
  --theme-color: #ff9854;
  --line-color: #f8f9f9;
  --theme-linear-gradient: linear-gradient(90deg, #fa8c1d, #fcaf3f);

  /* 全局修改 */
  /* --van-tabbar-item-font-size: 30px; */
  --van-primary-color: var(--theme-color);
  --van-tabs-bottom-bar-color: var(--theme-color) !important;

  /* search样式 */
  --van-search-left-icon-color: var(--theme-color) !important;
}
body {
  font-size: 14px;
  /* font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; */
}

/* 对page添加样式，达到隐藏tabbar的效果 */
.page-hide-tab-bar {
  position: relative;
  z-index: 10;
  background-color: #fff;
  height: 100vh;
  /* 元素内滚动 */
  overflow-y: auto;
}

.bottom-gray-line {
  border-bottom: 1px solid var(--line-color);
}

.icon_check {
  display: inline-block;
  width: 12px;
  height: 12px;
  background: url(../img/detail/icon_check.png) 0 0 / 100% 100%;
}
